@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');


* {
    margin: 0;
    font-family: "Jua", sans-serif;
    font-size: 25px;
}

.navbar {
    background-color: #0282d8;
    padding-left: 50px;
    padding-bottom: 5px;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.navbar a:hover {
    text-decoration: none;
    color: lightcyan;
}

.navbar-list {
    display: flex;
}

.nav-item {
    margin-right: 30px;
    margin-left: 20px;
}

.navbar-logo {
    margin-left: 30px;
}